@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">درباره ما</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h5 dir="rtl">با سلام </h5>
                                        <h5 dir="rtl">
                                            سیستم استادیار امکان ایجاد و برگزاری آزمون تستی چهار گزینه ای به صورت آنلاین داشته و همچنین می توان با ارائه
                                            موضوع به دانشجویان به عنوان پروژه یا تمرین، امکان ارسال فایل را در موعد مقرر به دانشجویان می دهد .
                                            مدیر سیستم مدیریت آزمون ها و پروژه ها و همچنین کاربران عضو سیستم هستند را دارد.
                                        </h5>

                                        <h6 dir="rtl">تکنولوژی های مورد استفاده در این پروژه</h6><br/>
                                        <h6>Asp.Net MVC , EntityFramework Code First , JavaScript , JQuery , Bootstrap , HTML</h6>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>